<form #rnaForm = "ngForm" (submit)= "rnaIntro()" novalidate>
  <div class="container well">
    <div class="form-horizontal">
      <div class="row">
        <div class="col-xs-12">
          <h2>New Rna Sequence Entry</h2>
        </div>
      </div>
      <br/>
      <div class="form-group">
        <label class="col-sm-2 control-label" for="formGroup">Identification *</label>
        <div class="col-sm-4">
          <input class="form-control" type="number" name="rnaId" #rnaId = "ngModel"
          [(ngModel)]="rna.id" required appIdValidator/>
        </div>
        <div class="has-error alert alert-danger" *ngIf="rnaId.touched && rnaId.invalid">

              <span *ngIf="rnaId.errors.required"> ID can not be empty</span>
              <span *ngIf="rnaId.errors.IsNotNumber && !rnaId.errors.required">
                Id must be numbers only</span>
        </div>

        <label class="col-sm-2 control-label" for="formGroup">RNA sequence: *</label>
        <div class="col-sm-6">
          <textarea rows="8" cols="80" name="rnaSequence" #rnaSequence = "ngModel"
          [(ngModel)] = "rna.sequence" required RnaValidator></textarea>
        </div>

        <div class="has-error alert alert-danger" *ngIf="rnaSequence.touched && rnaSequence.invalid">
              <span *ngIf="rnaSequence.errors.required"> RNA sequence can not be empty</span>
              <span *ngIf="rnaSequence.errors.IsNotCorrect && !rnaSequence.errors.required">
                RNA sequence must be of values ACUG only</span>

        </div>
        <br/>
        <label class="col-sm-2 control-label" for="formGroup">Patient </label>
        <div class="col-sm-2">
          <select class="form-control" name="patientrna" #patientrna="ngModel"
            [(ngModel)]="rna.patientrna" required>
              <option *ngFor="let patient of patients; let i = index"
            [ngValue]="patient">
            {{patient.getName()}} {{patient.getSurname()}}
              </option>
          </select>
        </div>

        <div class="has-error alert alert-danger" *ngIf="patientrna.touched && patientrna.invalid">
              <span *ngIf="patientrna.errors.required"> You must choose a patient</span>
        </div>

      </div>
      <br/>
        <div class="form-group">
          <label class="col-sm-2 control-label" for="formGroup"></label>
          <div class="col-sm-4">
            <button type="submit" class="btn btn-success"
            [disabled]="rnaForm.invalid">Submit</button>
          </div>
        </div>
    </div>

  </div>

</form>
