<div class="container well">
  <h1>Practica 3.1</h1>
  <nav>
    <ul class="nav nav-pills nav-fill">
      <li class="nav-item"><a class="nav-link" routerLink="/patient-form" routerLinkActive="active">New Patient</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/dna-form" routerLinkActive="active">New Dna</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/rna-form" routerLinkActive="active">New Rna</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/protein-form" routerLinkActive="active">New Protein</a></li>
    </ul>
  </nav>
  <router-outlet></router-outlet>
</div>
